DISCORD_TOKEN="DISCORD_TOKEN"
RECS_CHANNEL_ID="RECS_CHANNEL_ID"
GUILD_ID="GUILD_ID"
ENABLE_LOG=true
UNSAFE_CONNECTION_LOG="LINK_WEBHOOK_UNSAFE"
SAFE_CONNECTION_LOG="LINK_WEBHOOK_SAFE"
CHAT_LOG="LINK_WEBHOOK_CHAT"